* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: 0.4s;
  position: relative;
  -webkit-tap-highlight-color: transparent;
  outline: none;
  border: none;
  font-family: sans-serif;
}

html,
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}